//Custom stuff here

$body-bg: #f8fcf7;
$body-color: #111;

$navbar-brand-font-size: 2rem;
$navbar-dark-color: #2bd500;
$navbar-dark-hover-color: #FFF;

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";